* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.wrapper {
    padding: 30px;
    margin: auto;
    width: fit-content;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 50px;
}

.start,
.reset {
    font-size: 20px;
    width: 100px;
    color: white;
    border: 0;
    border-radius: 7px;
    padding: 10px 15px;
    margin: 0 15px;
}

.start {
    background-color: #00cc00;
}

.reset {
    background-color: #ff3300;
}

.board {
    width: 400px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 60px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.square {
    border: 2px solid black;

}

.square img {
    max-width: 100%;
    max-height: 100%;
}

.a,
.b,
.c {
    border-top: 0;
}

.a,
.d,
.g {
    border-left: 0;
}

.c,
.f,
.i {
    border-right: 0;
}

.g,
.h,
.i {
    border-bottom: 0;
}